
body{
    font-family: Arial, sans-serif;
    line-height: 1.2;
    max-width: 800px;
    margin: 30px auto;
    padding: 0px 30px;
    margin-bottom: 150px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }
    
    a {
        cursor: pointer;
        color: #82aaff;
        text-decoration: none;
    }

    a:hover {
        color: #ffcc00;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #121212;
        background-color: #ffffff;
    }
    a{
        cursor: pointer;
        color: #1a73e8;
        text-decoration: none;
    }

    a:hover {
        color: #185abc;
        text-decoration: underline;
    }
}
h2{
	text-align: center;
}

video{
	max-width: 100%;
}

img{
	max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}